body,
* {
  font-family: $font_sf_regular;
}

.container {
  width: 90% !important;
  max-width: 1400px !important;
  margin: 0 auto !important;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 5px !important;
  cursor: pointer !important;
  background-color: #d7d7d7 !important;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer !important;
  border-radius: 0 !important;
  background-color: #4e4e4e !important;
}
*::-webkit-scrollbar-track {
  cursor: pointer !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}
