@import "./variables.scss";

@font-face {
  font-family: $font_sf_regular;
  src: url('~static/fonts/sf/SFUIDisplay-Regular.eot');
  src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
    url('~static/fonts/sf/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/sf/SFUIDisplay-Regular.woff') format('woff'),
    url('~static/fonts/sf/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font_sf_light;
  src: url('~static/fonts/sf/SFUIDisplay-Light.eot');
  src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
    url('~static/fonts/sf/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/sf/SFUIDisplay-Light.woff') format('woff'),
    url('~static/fonts/sf/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font_sf_medium;
  src: url('~static/fonts/sf/SFUIDisplay-Medium.eot');
  src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
    url('~static/fonts/sf/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/sf/SFUIDisplay-Medium.woff') format('woff'),
    url('~static/fonts/sf/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font_sf_semibold;
  src: url('~static/fonts/sf/SFUIDisplay-Semibold.eot');
  src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
    url('~static/fonts/sf/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/sf/SFUIDisplay-Semibold.woff') format('woff'),
    url('~static/fonts/sf/SFUIDisplay-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font_sf_bold;
  src: url('~static/fonts/sf/SFUIDisplay-Bold.eot');
  src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
    url('~static/fonts/sf/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/sf/SFUIDisplay-Bold.woff') format('woff'),
    url('~static/fonts/sf/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font_monts_hairline;
  src: local('Montserrat Hairline'), local('Montserrat-Hairline'), url('~static/fonts/montserrat/montserrathairline.woff2') format('woff2'), url('~static/fonts/montserrat/montserrathairline.woff') format('woff'), url('~static/fonts/montserrat/montserrathairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: $font_monts_light;
  src: local('Montserrat Light'), local('Montserrat-Light'), url('~static/fonts/montserrat/montserratlight.woff2') format('woff2'), url('~static/fonts/montserrat/montserratlight.woff') format('woff'), url('~static/fonts/montserrat/montserratlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: $font_monts_regular;
  src: local('Montserrat'), local('Montserrat-Regular'), url('~static/fonts/montserrat/montserrat.woff2') format('woff2'), url('~static/fonts/montserrat/montserrat.woff') format('woff'), url('~static/fonts/montserrat/montserrat.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: $font_monts_bold;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('~static/fonts/montserrat/montserratbold.woff2') format('woff2'), url('~static/fonts/montserrat/montserratbold.woff') format('woff'), url('~static/fonts/montserrat/montserratbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: $font_monts_black;
  src: local('Montserrat Black'), local('Montserrat-Black'), url('~static/fonts/montserrat/montserratblack.woff2') format('woff2'), url('~static/fonts/montserrat/montserratblack.woff') format('woff'), url('~static/fonts/montserrat/montserratblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


