// $font-size-root: 20px;
$primary_color: #3D9A73;

$primary_gradient: linear-gradient(81.9deg, #F6F6F6 4.08%, #F4FBFF 96.3%);

$header__height: 148px;

$xl: "only screen and (max-width: 1904px)";
$lg: "only screen and (max-width: 1400px)";
$md: "only screen and (max-width: 1280px)";
$lt: "only screen and (max-width: 1024px)";
$tb: "only screen and (max-width: 768px)";
$sm: "only screen and (max-width: 640px)";
$xs: "only screen and (max-width: 480px)";

$font_sf_regular:   "SFUI_REGULAR";
$font_sf_light:     "SFUI_LIGHT";
$font_sf_medium:    "SFUI_MEDIUM";
$font_sf_semibold:  "SFUI_SEMIBOLD";
$font_sf_bold:      "SFUI_BOLD";

$font_monts_hairline: "MONTSERRAT_HAIRLINE";
$font_monts_light: "MONTSERRAT_LIGHT";
$font_monts_regular: "MONTSERRAT_REGULAR";
$font_monts_bold: "MONTSERRAT_BOLD";
$font_monts_black: "MONTSERRAT_BLACK";